@columns: 12;
@grid-width: 1200px;

.grid(@columns, @i: 1) when (@i <= @columns) {
  .col-@{i} {
    width: percentage(@i / @columns) - 0.83px;
    background-color: LightGray;
    margin-right: 10px;
    padding: 20px 0;
    text-align: center;
  }
  .grid(@columns, @i + 1);
}

@media (max-width: 960px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: calc(100% - 10px);
    }
}

.container {
  width: 100%;
  max-width: @grid-width;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 10px;
}

.grid(@columns);
