.my-input-form {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.my-label {
  margin-top: 5px;
  color: inherit;
  font-style: oblique;
}

.my-input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid DodgerBlue;
}

.invalid {
  border: 1px solid red;
  box-shadow:0 0 4px 2px lightpink;
  color: black;
}

.my-input:hover {
  border: 1px solid blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-danger {
	border: 2px solid red;
}

.invalidExpression {
  margin-left: 10px;
  color: red;
  font-size: 18px;
}
